@page "{id:int}"
@model todolist.Pages.Tasks.DeleteModel
@{
    ViewData["Title"] = "Delete Task";
}

<h1 class="mb-4">Delete Task</h1>

<div class="container">
    <h4>Are you sure you want to delete this task?</h4>
    <div>
        <h5>@Model.TaskItem.Title</h5>
        <p>@Model.TaskItem.Description</p>
    </div>
    <form method="post">
        <input type="hidden" asp-for="TaskItem.TaskID" />
        <button type="submit" class="btn btn-danger mt-2">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary mt-2">Cancel</a>
    </form>
</div>
